@reference '../../assets/style/common.css';

.sb-button {
  @apply touch-manipulation select-none rounded-full px-4 py-2 text-base transition-all duration-200 ease-in-out min-w-16 active:scale-95 cursor-pointer;
  background-color: var(--color-H-blue-700);
  color: #ffffff;
  border: 1px solid var(--color-H-blue-300);
}

.sb-button:hover {
  background-color: var(--color-H-blue-900);
}

.dark .sb-button {
  background-color: var(--color-H-blue-500);
  color: #0c1218;
}

.sb-button-default {
  background-color: var(--color-H-blue-700);
}
